@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans:wght@400;500&family=Playfair+Display+SC&family=Rubik:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    text-decoration: none;

}
body {
    width: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #177165;
    width: 100%;
}
.header__link a {
    margin-right: 40px;
}
.header a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #A4D6CF;
}
.header__block-contact {
    display: flex;
    margin: 25px;
}
.header__block-contact-image {
    margin-right: 20px;
}
.header__block-contact-tel {
    display: flex;
    flex-direction: column;
}
.header__block-contact-tel-text {
    color: #A4D6CF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}
.main {
    background-color: #177165;
    width: 100%;
}
.main__wrapper-title {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 788px;
}
.main__left-block {
    padding-top: 100px;
}
.main__left-block-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main__left-block-line-top {
    background: #A4D6CF;
    width: 40px;
    height: 1px;
    float: left;
    align-items: center;
    margin-right: 10px;
}
.main__left-block-text-line-top {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #A4D6CF;
}
.main__left-block-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    max-width: 450px;
    margin-top: 18px;
    margin-bottom: 16px;
}
.main__left-block-bottom {
    display: flex;
    align-items: center;
}
.main__left-block-line-bottom {
    width: 25px;
    height: 1px;
    background: #A4D6CF;
    margin-right: 10px;
}
.main__left-block-text-line-bottom {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #A4D6CF;
}
.main__left-block-button {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    width: 212px;
    height: 44px;
    margin-top: 60px;
}
.main__left-block-button-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #177165;
}
.main__left-block-button-text-symbol {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #177165;
    padding-left: 10px;
}
.main__right-block-image {
    width: 100%;
    height: 844px;
    padding-top: 58px;
}